<section class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
      
      <style> 
        button {
          width: 100px;
          height: 50px;
          position: relative;
          -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
          animation: mymove 5s infinite;
        }
        
        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes mymove {
          from {left: 0px;}
          to {left: 200px;}
        }
        
        @keyframes mymove {
          from {left: 0px;}
          to {left: 200px;}
        }
        </style>
        <!-- Button colors -->
        <div class="mb-3 mt-5">
    
        </div>
        <button [routerLink]="['/landing']" class="btn btn-1 btn-primary" type="button" >Landing</button>
        <button [routerLink]="['/user-profile']" class="btn btn-1 btn-info" type="button">Profile</button>
    </div>
  </div>
</section>

